.social {
  position: relative;
  top: 50%;

  display: block;

  transform: translateY(-50%);

  &__item {
    display: inline-block;

    margin-right: 12px;

    &:last-of-type {
      margin-right: auto;
    }
  }

  &__github,
  &__linkedin,
  &__habr-career {
    $size: 50px;

    display: block;
    overflow: hidden;

    width: $size;
    height: $size;

    text-indent: $size;
    white-space: nowrap;

    color: white;
    background-repeat: no-repeat;
    background-size: 50px;
  }

  &__linkedin {
    background-image: url("/styles/images/social-logos/linkedin.svg");
  }

  &__github {
    background-image: url("/styles/images/social-logos/github.svg");
  }
}
