footer > ul.social {
	position: relative;
	top: 50%;

	display: block;

	transform: translateY(-50%);

	> li {
		display: inline-block;

		margin-right: 12px;

		&:last-of-type {
			margin-right: auto;
		}

		> a {
			$size: 50px;

			display: block;
			overflow: hidden;

			width: $size;
			height: $size;

			text-indent: $size;
			white-space: nowrap;

			background-repeat: no-repeat;
			background-size: 50px;

			&.vkontakte {
				background-image: url("/styles/images/vk-logo.svg");
			}

			&.linkedin {
				background-image: url("/styles/images/linkedin-logo.svg");
			}

			&.github {
				background-image: url("/styles/images/github-logo.svg");
			}
		}
	}
}
