html {
	overflow-x: hidden;
	font-family: $font-regular;
	color: $clr-fg;
	background: $clr-bg;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 280px;
	max-width: 980px;
	height: 100%;
	min-height: 100vh;
	margin: 0 auto;
	font-family: inherit;
	line-height: 1.4;

	@media (max-width: 980px) {
		margin: 0 25px;
	}

	@media (max-width: 480px) {
		margin: 0 10px;
	}
}

header {
	position: relative;
	margin-top: 16px;
	text-align: center;
}

footer {
	position: relative;
	z-index: 1;

	display: block;
	align-self: flex-end;

	width: 100%;
	height: 100px;
	padding: 16px 0;
	margin-top: 50px;
	box-sizing: border-box;

	background: $clr-plate;

	&:before {
		position: absolute;
		top: 0;
		left: -100vw;
		z-index: -1;

		width: 200vw;
		height: 100%;

		content: "";

		background: inherit;
	}
}
